body {
	background-color: #484747;
}

#sidebar {
	
	background-color: #252525;
	height: 50px;
	width: 100%;
}

.sb-button {
	background-color: #0E0E0E;
	width: 99%;
	height: 50px;
	border: 1px solid #252525;
	margin-top: 5px;
}

.titlefont {
	font-family: Source Sans Pro;
	color: white;
	font-size: 25px;
	text-align: center;
}

#intcorgi {
	position: absolute;
	margin-left: 40%;
	top: 15%;
	height: 400px; 
	width: 400px;
	background-color: #484747;
	background-image: url('img/mc.png');
	background-size: 400px 400px;
	display: none;
}

#cselect {
	float: left;	
	top: 50%;
	height: 350px;
	width: 700px;
	display: none;
	margin-left: 25%;
	margin-top: 20px;
	background-color: #5F5E5E; 
	padding-left: 4%;
	padding-top: 40px;
	border: 1px solid #696969;
	border-radius: 5px;
}

.cproject {
	width: 120px;
	height: 150px;
	border: 2px solid black;
	background-color: red;
	display: inline-block;
	margin-right: -2px;
}

#cpendant {
	width: 122px;
	height: 105px;
	display: inline-block;
	background-image: url('img/pend.png');
	background-repeat: no-repeat;
	background-position: center;
	
}

#businesspg {
	width: 120px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin-right: -2px;
	background-image: url(img/bsns.jpg);
}

#thelist {
	width: 120px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin-right: -2px;
	background-image: url(img/list.jpg);
}

#quiz {
	width: 120px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin-right: -2px;
	background-image: url(img/qz.jpg);
}

#sfighter {
	width: 120px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin-right: -2px;
	background-image: url(img/sf.jpg);
}

#fetch {
	position: relative;
	width: 120px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	left: 18%;
	background-image: url(img/fetch.jpg);

}

#hotcold {
	position: relative;
	width: 120px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	left: 18%;
	background-image: url(img/hc.jpg);
}

#stackajax {
	position: relative;
	width: 120px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	left: 18%;
	background-image: url(img/sa.jpg);
}

#pdetails {
	height: 350px;
	width: 46%;
	background-color: white;
	float: left;
	display: none;
	margin-left: 25%;
	margin-top: 50px;
}

